{% extends 'network/layout.html' %}
{% load static %}

{% block body %}

<!-- Delete Post/Comment Confirmation Modal -->
<div class="modal fade" id="delConfirmModal" tabindex="-1" aria-labelledby="delConfirmModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="delConfirmModalLabel">Followers</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                Are you sure want to delete? Items deleted cannot be restored.
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-success" data-dismiss="modal" id="confirmDelete">Confirm</button>
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>

<div class="container" style="max-width: 90%;">
    <div class="row p-0 mt-5">
        <div class="col-md-9">
            <div id="postsDisplay">
                {% for post in page_obj %}
                <div class="d-flex border border-alert py-3 mb-3 postContainer" id="postContainer-{{post.id}}">
                    <div class="col">
                        <div class="row">
                            <div class="col-1">
                                <img src="{% static 'network/images/defaultAvatar.png' %}" alt="profile-pic"
                                    style="object-fit: contain; width: 100%; border-radius: 50px;"
                                    class="commentProfilePic">
                            </div>
                            <div class="col-11 pl-0 align-self-end">
                                <span style="font-size: 19px;" id="postUser" style="display: inline-block;">
                                    <a href="{% url 'profile' post.user %}"
                                        class="userProfileLink">{{post.user|capfirst}}</a>
                                </span>
                                <!-- <div class="btn" style=" float:right"><i class="fas fa-chevron-down"></i>
                    </div> -->
                                {% if post.user == request.user %}
                                <div class="dropdown d-inline-flex" style=" float:right">
                                    <button class="btn" type="button" id="dropdownMenuButton" data-toggle="dropdown"
                                        aria-haspopup="true" aria-expanded="false">
                                        <i class="fas fa-chevron-down"></i>
                                    </button>
                                    <div class="dropdown-menu dropdown-menu-right" aria-labelledby="dropdownMenuButton">
                                        <span class="editButton dropdown-item" data-item="post"
                                            data-id="post-{{post.id}}"><i class="far fa-edit"></i>&nbsp;Edit</span>
                                        <span class="deleteButton dropdown-item" data-id="post-{{post.id}}"
                                            data-item="post" id="deleteButton-{{post.id}}">&nbsp;<i
                                                class="fas fa-times"></i>&nbsp;&nbsp;Delete</span>
                                    </div>
                                </div>
                                {% endif %}
                            </div>
                        </div>
                        <div class="row">
                            <div class="col">
                                <div class="postContent" id="post-{{post.id}}">{{post.content}}</div>
                            </div>
                        </div>
                        <div class="numLikes" data-numLikes="{{post.allLikes|length}}" id="numLikes-{{post.id}}">
                            {{post.allLikes|length}} likes
                        </div>
                        <div class="row optionRow" id="optionRow-{{post.id}}">
                            {% if request.user.username in post.allLikes %}
                            <span class="options likeButton ml-3" data-id="post-{{post.id}}" style="color: #007bff"
                                data-item="post">
                                <i class="far fa-thumbs-up"></i> Like</span>
                            {% else %}
                            <span class="options likeButton ml-3" data-id="post-{{post.id}}" data-item="post">
                                <i class="far fa-thumbs-up"></i> Like</span>
                            {% endif %}
                            <span class="options" data-id="post-{{post.id}}"><i class="far fa-comment"></i>
                                Comment</span>
                            <span class="options" data-id="post-{{post.id}}"><i class="fas fa-share"></i> Share</span>
                            {% if post.user == request.user %}
                            <span class="options editButton" data-item="post" data-id="post-{{post.id}}"><i
                                    class="far fa-edit"></i>
                                Edit</span>
                            {% endif %}
                        </div>
                        <div class="commentsDisplay" id="commentsDisplay-{{post.id}}">
                            {% for comment in post.comments %}
                            <div class="d-flex py-3 my-3 mx-3 commentContainer" id="commentContainer-{{comment.id}}">
                                <div class="col">
                                    <div class="row">
                                        <div class="col-1">
                                            <img src="{% static 'network/images/defaultAvatar.png' %}" alt="profile-pic"
                                                style="object-fit: contain; width: 80%; border-radius: 50px;"
                                                class="commentProfilePic">
                                        </div>
                                        <div class="col-11 px-0 align-self-end ml-n2">
                                            <span style="font-size: 19px;" id="postUser" style="display: inline-block;">
                                                <a href="{% url 'profile' comment.user.username %}"
                                                    class="userProfileLink">{{comment.user.username|capfirst}}</a>
                                            </span>
                                            {% if comment.user == request.user %}
                                            <div class="dropdown d-inline-flex" style=" float:right">
                                                <button class="btn" type="button" id="dropdownMenuButton"
                                                    data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                                    <i class="fas fa-ellipsis-h"></i>
                                                </button>
                                                <div class="dropdown-menu dropdown-menu-right"
                                                    aria-labelledby="dropdownMenuButton">
                                                    <span class="editButton dropdown-item" data-item="comment"
                                                        data-id="comment-{{comment.id}}"><i
                                                            class="far fa-edit"></i>&nbsp;Edit</span>
                                                    <span class="deleteButton dropdown-item"
                                                        data-id="comment-{{comment.id}}" data-item="comment"
                                                        id="deleteButton-{{comment.id}}" data-postID="post">&nbsp;<i
                                                            class="fas fa-times"></i>&nbsp;&nbsp;Delete</span>
                                                </div>
                                            </div>
                                            {% endif %}
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col">
                                            <div class="postContent" id="comment-{{comment.id}}">{{comment.comment}}
                                            </div>
                                        </div>
                                    </div>
                                    <div class="numLikes" data-numLikes="{{comment.allLikes|length}}"
                                        data-id="numLikes-{{comment.id}}" data-toggle="modal"
                                        data-target="#postLikesModal" id="commentNumLikes-{{comment.id}}">
                                        {{comment.allLikes|length}}
                                        likes</div>
                                    <div class="row optionRow" id="optionRow-{{comment.id}}">
                                        {% if request.user.username in comment.allLikes %}
                                        <span class="options likeButton ml-3" data-id="comment-{{comment.id}}"
                                            style="color: #007bff" data-item="comment">
                                            <i class="far fa-thumbs-up"></i> Like</span>
                                        {% else %}
                                        <span class="options likeButton ml-3" data-id="comment-{{comment.id}}"
                                            data-item="comment">
                                            <i class="far fa-thumbs-up"></i> Like</span>
                                        {% endif %}
                                        <span class="options" data-id="comment-{{comment.id}}"><i
                                                class="far fa-comment"></i>
                                            Reply</span>
                                        <span class="options editButton" data-item="comment"
                                            data-id="comment-{{comment.id}}"><i class="far fa-edit"></i> Edit</span>
                                    </div>
                                </div>
                            </div>
                            {% endfor %}
                        </div>
                        <div class="row">
                            <div class="col my-3">
                                {% csrf_token %}
                                <input class="comment" data-postID="{{post.id}}" type="text"
                                    placeholder="Write a comment..."
                                    style="width: 100%; padding: 7px 15px; border-radius: 50px; border: 1px solid lightgrey">
                            </div>
                        </div>
                    </div>
                </div>
                {% endfor %}
            </div>

            <nav aria-label="page navigation">
                <ul class="pagination justify-content-center">
                    {% if page_obj.has_previous %}
                    <li class="page-item"><a class="page-link" href="?page=1">&laquo;</a></li>
                    <li class="page-item"><a class="page-link"
                            href="?page={{ page_obj.previous_page_number }}">Previous</a></li>
                    {% endif %}
                    {% for page_number in page_obj.paginator.page_range %}
                    <li class="page-item"><a class="page-link" href="?page={{page_number}}">{{page_number}}</a></li>
                    {% endfor %}
                    {% if page_obj.has_next %}
                    <li class="page-item"><a class="page-link" href="?page={{ page_obj.next_page_number }}">Next</a>
                    <li class="page-item"><a class="page-link"
                            href="?page={{ page_obj.paginator.num_pages }}">&raquo;</a></li>
                    {% endif %}

                    </li>
                </ul>
            </nav>
        </div>
        <div class="col-md-3" style="background-color: lightgreen">
            <span>People you may know:</span>
        </div>
    </div>
</div>

{% endblock %}