{% extends "network/layout.html" %}
{% load static %}

{% block body %}
<!-- Delete Post/Comment Confirmation Modal -->
<div class="modal fade" id="delConfirmModal" tabindex="-1" aria-labelledby="delConfirmModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="delConfirmModalLabel">Confirm Delete</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                Are you sure want to delete? Deleted items cannot be restored.
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-success" data-dismiss="modal" id="confirmDelete">Confirm</button>
                <button type="button" class="btn btn-light border border-alert" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>

<!-- Post Likes Modal List -->
<div class="modal fade" id="postLikesModal" tabindex="-1" aria-labelledby="postLikesModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-scrollable">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="postLikesModalLabel">Likers</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body" id="likersModalBody">
                <!-- Placeholder Text -->
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-light border border-alert" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>

<!-- Share Post Modal  -->
<div class="modal fade" id="sharePostModal" tabindex="-1" aria-labelledby="sharePostModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-scrollable modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="sharePostModalLabel">Share Post</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <!-- Placeholder Text -->
                <div class="d-flex py-3 my-3 postContainer" id="postContainer-{{post.id}}">
                    <div class="col">
                        <div class="row">
                            <div class="col-1">
                                {% if request.user.profilePic %}
                                <img class="postProfilePicSmall" src="{{request.user.profilePic.url}}" alt="profile-pic">
                                {% else %}
                                <img class="postProfilePicSmall" src="{% static 'network/images/defaultAvatar.png' %}"
                                    alt="profile-pic">
                                {% endif %}
                            </div>
                            <div class="col-11 pl-4 align-self-end">
                                <span style="font-size: 1.05rem;" id="postUser-{{post.id}}" style="display: inline-block;">
                                    <a href="{% url 'profile' request.user %}"
                                        class="userProfileLink">{{request.user|capfirst}}</a>
                                </span>
                            </div>
                        </div>
                        <div class="row">
                            <form action="" method="post" id="sharePostForm" name="sharePostForm" style="width:100%">
                                {% csrf_token %}
                                <textarea name="sharePostText" id="sharePostText" rows="4" placeholder="Say something about this..." style="width: 100%;"></textarea>
                            </form>
                        </div>
                    </div>
                </div>
                <div style="text-align: center; color: grey; display: none;" id="shareModalMessage">
                    This feature has not yet been added. This is just a placeholder model.
                </div>
                
            </div>
            <div class="modal-footer">
                <button class="btn btn-success" id="shareModalSubmit">Share</button>
                <button type="button" class="btn btn-light border border-alert" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>

<!-- Reply Modal -->
<div class="modal fade" id="replyModal" tabindex="-1" aria-labelledby="replyModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-scrollable">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="replyModalLabel">Reply</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body" id="likersModalBody">
                This feature is not yet available.
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-light border border-alert" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>

<!-- Main Body -->
<div class="container" id="BodyContainer">
    <div class="row p-0 mt-lg-5 mt-0">
        <div class="col-lg-2 d-none d-lg-block" style="font-size: 0.9rem" id="BodyContainerCol1">
            <div class="d-flex mb-4 pb-3" id="viewProfileTab"
                style="min-height: 50px; background-color: white; border-radius: 2px; box-shadow: rgba(0, 0, 0, 0.15) 0px 0px 0px 1px, rgba(0, 0, 0, 0.2) 0px 2px 3px 0px;">
                <div class="col">
                    <div class="row" style="height: 60px; overflow: hidden;">
                        <img src="{% static 'network/images/background.jpg' %}" alt=""
                            style="width: 102%; object-fit: cover;">
                    </div>
                    <div class="d-flex justify-content-center">
                        {% if request.user.profilePic %}
                        <img id="smallProfilePic" src="{{request.user.profilePic.url}}" alt="profile-pic">
                        {% else %}
                        <img id="smallProfilePic" src="{% static 'network/images/defaultAvatar.png' %}"
                            alt="profile-pic">
                        {% endif %}
                    </div>
                    <div class="mb-3 mt-3 text-center">
                        <span style="font-size: 1.125rem; font-weight: 500;">{{request.user.first_name|capfirst}}
                            {{request.user.last_name|capfirst}}</span>
                        <br>
                        <span id="profileUsername"
                            style="color: gray; font-weight: 300">{{request.user.username|capfirst}}</span>
                    </div>
                    <hr class="mx-n3">
                    <div style="color: grey;">
                        <div> Following <span
                                style="float: right; color: #007bff">{{request.user.followingCount}}</span> </div>
                        <div> Followers <span style="float: right; color: #007bff">{{request.user.followerCount}}</span>
                        </div>
                    </div>
                    <hr class="mx-n3">
                    <a href="{% url 'profile' request.user.username %}">
                        <div class="btn btn-primary" id="viewProfileButton">View Profile</div>
                    </a>
                </div>
            </div>

        </div>
        <div class="col-lg-7 px-0 px-md-3" style="font-size: 0.95rem" >

            <div class="d-flex py-3 mb-3 postContainer">
                <div class="col">
                    <span style="font-size: 1.05rem;">Post</span>
                    <form action="" method="post" id="contentForm">
                        {% csrf_token %}
                        <textarea name="content" id="content" rows="3" placeholder="What are you thinking?"></textarea>
                    </form>
                    <button class="btn btn-success" style="float: right" form="contentForm">Post</button>
                </div>
            </div>

            <div id="postsDisplay">
                {% for post in page_obj %}
                <div class="d-flex py-3 my-3 postContainer" id="postContainer-{{post.id}}">
                    <div class="col">
                        <div class="row">
                            <div class="col-1 px-2 px-sm-3">
                                {% if post.user.profilePic %}
                                <img class="postProfilePicSmall" src="{{post.user.profilePic.url}}" alt="profile-pic">
                                {% else %}
                                <img class="postProfilePicSmall" src="{% static 'network/images/defaultAvatar.png' %}"
                                    alt="profile-pic">
                                {% endif %}
                            </div>
                            <div class="col-11 pl-4 pl-sm-3 pl-md-1 pl-lg-3 align-self-end">
                                <span style="font-size: 1.05rem;" id="postUser-{{post.id}}" style="display: inline-block;">
                                    <a href="{% url 'profile' post.user %}"
                                        class="userProfileLink">{{post.user|capfirst}}</a>
                                </span>
                                {% if post.user == request.user %}
                                <div class="dropdown d-inline-flex" style=" float:right">
                                    <button class="btn" type="button" id="dropdownMenuButton" data-toggle="dropdown"
                                        aria-haspopup="true" aria-expanded="false">
                                        <i class="fas fa-chevron-down"></i>
                                    </button>
                                    <div class="dropdown-menu dropdown-menu-right" aria-labelledby="dropdownMenuButton">
                                        <span class="editButton dropdown-item" data-item="post"
                                            data-id="post-{{post.id}}"><i class="far fa-edit"></i>&nbsp;Edit</span>
                                        <span class="deleteButton dropdown-item" data-id="post-{{post.id}}"
                                            data-item="post" id="deleteButton-{{post.id}}">&nbsp;<i
                                                class="fas fa-times"></i>&nbsp;&nbsp;Delete</span>
                                    </div>
                                </div>
                                {% endif %}
                                <div class="postTime">{{post.time|date:"j-m-Y"}}, {{post.time|time:"P"|upper}}</div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col">
                                <div class="postContent" id="post-{{post.id}}">{{post.content}}</div>
                            </div>
                        </div>
                        <div class="metaInfoRow d-flex justify-content-between">
                            <div class="numLikes noSelect" data-numLikes="{{post.allLikes|length}}" id="postLikes-{{post.id}}" data-id="{{post.id}}" data-item="post"> {{post.allLikes|length}} {% if post.allLikes|length != 1 %} likes {% else %} like {% endif %} </div>
                            <div class="numComments noSelect" data-numComments="{{post.comments|length}}" id="postComments-{{post.id}}" data-postID="{{post.id}}" data-item="post">{{post.comments|length}} {% if post.comments|length != 1 %} comments {% else %} comment {% endif %}</div>
                        </div>
                        <div class="row postOptionRow " id="optionRow-{{post.id}}">
                            {% if request.user.username in post.allLikes %}
                            <div class="options flex-fill text-center likeButton" data-id="post-{{post.id}}" style="color: #007bff"
                                data-item="post">
                                <i class="far fa-thumbs-up"></i> Like</div>
                            {% else %}
                            <div class="options flex-fill text-center likeButton" data-id="post-{{post.id}}" data-item="post">
                                <i class="far fa-thumbs-up"></i> Like</div>
                            {% endif %}
                            <div class="options flex-fill text-center commentButton" data-id="{{post.id}}" onclick="focusComment(this);"><i class="far fa-comment"></i> Comment</div>
                            <div class="options flex-fill text-center shareButton" data-id="post-{{post.id}}"><i class="fas fa-share"></i> Share</div>
                        </div>

                        <div class="row">
                            <div class="col-sm-1 col-2 align-self-center justify-content-center inputProfilePicContainer">
                                {% if request.user.profilePic %}
                                <img class="postProfilePicSmall" width="30" height="30"
                                    src="{{request.user.profilePic.url}}" alt="profile-pic">
                                {% else %}
                                <img class="postProfilePicSmall"
                                    src="{% static 'network/images/defaultAvatar.png' %}"
                                    alt="profile-pic">
                                {% endif %}
                            </div>
                            <div class="col-sm-11 col-10 my-3 pl-0 pl-sm-3 pl-md-1 pl-lg-3">
                                {% csrf_token %}
                                <input class="comment" data-postID="{{post.id}}" type="text" id="commentInput-{{post.id}}" placeholder="Write a comment...">
                            </div>
                        </div>

                        <div class="commentsDisplay" id="commentsDisplay-{{post.id}}">
                            {% for comment in post.comments %}
                            <div class="row my-3 " id="commentContainer-{{comment.id}}">
                                <div class="col-sm-1 col-2">
                                    {% if comment.user.profilePic %}
                                    <img src="{{comment.user.profilePic.url}}" alt="profile-pic"
                                        class="commentProfilePicSmall">
                                    {% else %}
                                    <img src="{% static 'network/images/defaultAvatar.png' %}" alt="profile-pic"
                                        class="commentProfilePicSmall">
                                    {% endif %}
                                </div>
                                <div class="col-sm-11 col-10 pl-0 pl-sm-3 pl-md-1 pl-lg-3">
                                    <div class="commentContainer px-3 pt-2">
                                        <div class="row">
                                        
                                            <div class="col align-self-end">
                                                <span style="font-size: 1.05rem;" id="postUser"
                                                    style="display: inline-block;">
                                                    <a href="{% url 'profile' comment.user.username %}"
                                                        class="userProfileLink">{{comment.user.username|capfirst}}</a>
                                                </span>
                                                {% if comment.user == request.user %}
                                                <div class="dropdown d-inline-flex" style=" float:right">
                                                    <button class="btn" type="button" id="dropdownMenuButton"
                                                        data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                                        <i class="fas fa-ellipsis-h"></i>
                                                    </button>
                                                    <div class="dropdown-menu dropdown-menu-right"
                                                        aria-labelledby="dropdownMenuButton">
                                                        <span class="editButton dropdown-item" data-item="comment"
                                                            data-id="comment-{{comment.id}}"><i
                                                                class="far fa-edit"></i>&nbsp;Edit</span>
                                                        <span class="deleteButton dropdown-item"
                                                            data-id="comment-{{comment.id}}" data-item="comment"
                                                            id="deleteButton-{{comment.id}}" data-postID="post" data-container="{{post.id}}">&nbsp;<i
                                                                class="fas fa-times"></i>&nbsp;&nbsp;Delete</span>
                                                    </div>
                                                </div>
                                                {% endif %}
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col">
                                                <div class="postContent" id="comment-{{comment.id}}">{{comment.comment}}
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    
                                    <div class="row commentOptionRow" id="optionRow-{{comment.id}}">
                                        {% if request.user.username in comment.allLikes %}
                                        <span class="options-comment likeButton" data-id="comment-{{comment.id}}" style="color: #007bff" data-item="comment">
                                        Like </span>
                                        {% else %}
                                        <span class="options-comment likeButton" data-id="comment-{{comment.id}}"
                                            data-item="comment"> Like </span>
                                        {% endif %}
                                        {% if comment.allLikes|length > 0 %}
                                        <i id="commentLikeIcon-{{comment.id}}" class="far fa-thumbs-up align-self-center mr-1" style="color:#007bff; font-size: 0.775rem;"></i>
                                        {% else %}
                                        <i id="commentLikeIcon-{{comment.id}}" class="far fa-thumbs-up align-self-center mr-1" style="color:#007bff; font-size: 0.775rem; display: none;"></i>
                                        {% endif %}
                                        <span class="numLikes noSelect align-self-center pr-2" style="font-size: 0.775rem;" data-numLikes="{{comment.allLikes|length}}" data-id="{{comment.id}}" data-item="comment" id="commentLikes-{{comment.id}}">
                                            {{comment.allLikes|length}}
                                        </span>
                                        <span style="width: 1px; background-color: grey; margin: 7px 0;"></span>
                                        <span class="options-comment" data-id="comment-{{comment.id}}" data-toggle="modal" data-target="#replyModal"><i
                                                class="far fa-comment"></i>
                                            Reply</span>
                                    </div>
                                </div>
                            </div>
                            {% endfor %}
                        </div>
                        
                    </div>
                </div>
                {% endfor %}
            </div>

            <nav aria-label="page navigation">
                <ul class="pagination justify-content-center">
                    {% if page_obj.has_previous %}
                    <!-- <li class="page-item"><a class="page-link" href="?page=1">&laquo;</a></li> -->
                    <li class="page-item"><a class="page-link"
                            href="?page={{ page_obj.previous_page_number }}">&#8249;</a></li>
                    {% else %}
                    <li class="page-item"><a class="page-link">&#8249;</a></li>
                    {% endif %}
                    <li class="page-item"><a class="page-link" href="?page={{page_number}}">{{page_obj.number}}</a></li>
                    {% if page_obj.has_next %}
                    <li class="page-item"><a class="page-link" href="?page={{ page_obj.next_page_number }}">&#8250;</a>
                    <!-- <li class="page-item"><a class="page-link" href="?page={{ page_obj.paginator.num_pages }}">&raquo;</a></li> -->
                    {% else %}
                    <li class="page-item"><a class="page-link">&#8250;</a>
                    {% endif %}

                    </li>
                </ul>
            </nav>

        </div>


        <div class="col-lg-3">
            <div class="row p-2 mb-4" id="pYouMayKnowTab" style="position: sticky; top: 76px;">
                <div class="col">
                    <div id="pYouMayKnow">People You May Know</div>
                    {% for profile in pYouMayKnow %}
                    <div class="suggestedUsers mb-2">
                        <div class="row">
                            <div class="col-3 col-sm-2 col-lg-3">
                                {% if profile.profilePic %}
                                <img src="{{ profile.profilePic.url }}" alt="profile-pic" class="pYouMayKnowPic">
                                {% else %}
                                <img src="{% static 'network/images/defaultAvatar.png' %}" alt="profile-pic"
                                    class="pYouMayKnowPic">
                                {% endif %}
                            </div>
                            <div class="col-9 col-sm-10 col-lg-9 pr-0">
                                <div><a href="{% url 'profile' profile.username %}"> {{profile.first_name}}
                                        {{profile.last_name}} </a></div>
                                <div style="font-size: 0.9rem; margin-top: -1px; color: darkgrey">{{profile.username}}
                                </div>
                                <hr>
                            </div>
                        </div>
                    </div>
                    {% endfor %}
                </div>
            </div>

        </div>
    </div>
</div>


{% endblock %}