{% extends "network/layout.html" %}
{% load static %}

{% block body %}
<!-- Profile Followers Modal List -->
<div class="modal fade" id="followersModal" tabindex="-1" aria-labelledby="followersModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-scrollable">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="followersModalLabel">Followers</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body" id="followersModalBody">
                <div id="numFollowers">{{pFollowersList|length}} followers</div>
                {% for follower in pFollowersList %}
                <div class="follower" id="follower-{{follower.id}}">
                    <img src="{% static 'network/images/defaultAvatar.png' %}" alt="profile-pic"
                        style="object-fit: contain; width: 35px; border-radius: 50px; margin-right: 10px"
                        class="commentProfilePic">
                    <span><a href="{% url 'profile' follower.username %}"> {{follower.username}} </a></span>
                </div>
                {% endfor %}
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>

<!-- Profile Following Modal List -->
<div class="modal fade" id="followingModal" tabindex="-1" aria-labelledby="followingModal" aria-hidden="true">
    <div class="modal-dialog modal-dialog-scrollable">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="followingModal">Following</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body" id="followingModalBody">
                {% if pFollowingList|length == 0 %}
                <div>{{pFollowingList|length}} following</div>
                {% else %}
                {% for follower in pFollowingList %}
                <div class="following">
                    <img src="{% static 'network/images/defaultAvatar.png' %}" alt="profile-pic"
                        style="object-fit: contain; width: 35px; border-radius: 50px; margin-right: 10px"
                        class="commentProfilePic">
                    <span><a href="{% url 'profile' follower.username %}"> {{follower.username}} </a></span>
                </div>
                {% endfor %}
                {% endif %}
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>

<!-- Delete Post/Comment Confirmation Modal -->
<div class="modal fade" id="delConfirmModal" tabindex="-1" aria-labelledby="delConfirmModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="delConfirmModalLabel">Followers</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                Are you sure want to delete? Items deleted cannot be restored.
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-success" data-dismiss="modal" id="confirmDelete">Confirm</button>
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="uploadImageModal" tabindex="-1" aria-labelledby="uploadImageModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="uploadImageModalLabel">Image Preview</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="container">
                    <div class="row">
                        <div class="col text-center">
                            <!-- <h4>Image Preview</h4> -->
                            <div
                                style="background-color: grey; width: 150px; height: 150px; overflow: hidden; border-radius: 50%; margin: 20px auto 10px;">
                                {% if profile.profilePic %}
                                <img id="output" src="{{profile.profilePic.url}}" style="width: 150px; height:150px; object-fit:cover; border-radius: 50%" />
                                {% else %}
                                <img id="output" style="width: 150px; height:150px; object-fit:cover; border-radius: 50%" />
                                {% endif %}
                            </div>
                            <div id="imgLookMessage">This is what the image will look like.</div>
                            <div class="my-4"><label for="file" class="btn btn-primary mb-0" style="cursor: pointer;">Select Image</label>
                            <div class="btn btn-danger" onclick="discard()">Discard</div>
                            </div>

                            <form action="" method="POST" enctype="multipart/form-data" id="profilePicForm" name="profilePicForm">
                                {% csrf_token %}
                                {{form.as_p}}
                                
                            </form>
                            <button form="profilePicForm">Submit</button>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer"> 
                <button type="submit" class="btn btn-success" id="upload" data-user={{profile.id}} form="profilePicForm">Upload</button>
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>

<!-- Post Likes Modal List -->
<!-- <div class="modal fade" id="postLikesModal" tabindex="-1" aria-labelledby="postLikesModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-scrollable">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="postLikesModalLabel">Followers</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                {% for like in post.allLikes %}
                <div class="follower">
                    <img src="{% static 'network/images/defaultAvatar.png' %}" alt="profile-pic"
                        style="object-fit: contain; width: 35px; border-radius: 50px; margin-right: 10px"
                        class="commentProfilePic">
                    <span><a href="{% url 'profile' follower.username %}"> {{follower.username}} </a></span>
                </div>
                {% endfor %}
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div> -->

<!-- Main Body -->

<div class="container" style="max-width: 90%;">
    <div class="row p-0 mt-5">
        <div class="col-md-9">
            <div class="d-flex pb-3"
                style="min-height: 50px; background-color: white; border-radius: 2px; box-shadow: rgba(0, 0, 0, 0.15) 0px 0px 0px 1px, rgba(0, 0, 0, 0.2) 0px 2px 3px 0px;">
                <div class="col">
                    <div class="row" style="height: 200px; overflow: hidden;">
                        <img src="{% static 'network/images/background.jpg' %}" alt=""
                            style="width: 102%; object-fit: cover;">
                    </div>
                    <div class="d-flex">
                        <!-- <div class="d-flex"
                            style="z-index: 50; background-color: lightpink; width: 150px; border-radius: 125px; height: 150px; margin-top: -90px; border: 5px solid white; margin-bottom: 5px; box-shadow: rgba(0, 0, 0, 0.15) 0px 0px 0px 1px, rgba(0, 0, 0, 0.2) 0px 2px 3px 0px;"> -->
                            {% if profile.profilePic %}
                            <img src="{{profile.profilePic.url}}" style="margin:-90px 0 5px; box-shadow: rgba(0, 0, 0, 0.15) 0px 0px 0px 1px, rgba(0, 0, 0, 0.2) 0px 2px 3px 0px; border: 5px solid white; width: 150px; border-radius: 50%; height: 150px; object-fit: cover;" id="profilePic">
                            {% else %}
                            <img src="{% static 'network/images/defaultAvatar.png' %}" style="margin:-90px 0 5px; box-shadow: rgba(0, 0, 0, 0.15) 0px 0px 0px 1px, rgba(0, 0, 0, 0.2) 0px 2px 3px 0px; border: 5px solid white; width: 150px; border-radius: 50%; height: 150px;object-fit: cover;" id="profilePic">
                            {% endif %}
                        <!-- </div> -->
                        <div class="align-self-end ml-auto">
                            {% csrf_token %}
                            {% if profile == request.user %}
                            <button class="btn btn-primary" id="descriptionButton">Add a description</button>
                            <button class="btn btn-light border border-alert dropdown dropdown-toggle" type="button"
                                id="uploadImageButton" data-toggle="dropdown" aria-haspopup="true"
                                aria-expanded="false">
                                Profile picture
                            </button>
                            <div class="dropdown-menu dropdown-menu-right" aria-labelledby="uploadImageButton">
                                <span class="dropdown-item" data-toggle="modal"
                                data-target="#uploadImageModal">Upload</span>
                                <a class="dropdown-item" href="#">Delete</a>
                            </div>
                            <!-- <i class="fas fa-caret-down"></i> -->
                            {% else %}
                            {% if followedStatus %}
                            <button class="btn btn-primary" id="followButton">Unfollow</button>
                            {% else %}
                            <button class="btn btn-primary" id="followButton">Follow</button>
                            {% endif %}
                            <button class="btn btn-light border border-dark">Message</button>
                            {% endif %}
                        </div>

                    </div>
                    <div class="mb-3">
                        <span style="font-size: 20px; font-weight: 500;">{{profile.first_name|capfirst}}
                            {{profile.last_name|capfirst}}</span>
                        <br>
                        <span id="profileUsername">{{profile.username|capfirst}}</span>
                        <br>
                        United Arab Emirates
                    </div>
                </div>
            </div>

            <div class="d-flex py-3 my-3"
                style="background-color: white; border-radius: 2px; box-shadow: rgba(0, 0, 0, 0.15) 0px 0px 0px 1px, rgba(0, 0, 0, 0.2) 0px 2px 3px 0px;">
                <div class="col">
                    <span style="font-size: 19px;">About</span>
                    <div class="d-flex" style="height: 70px; background-color: lightgrey; margin-top: 10px"></div>
                </div>
            </div>

            <div class="d-flex my-3">
                <div class="col">
                    <div class="row text-center justify-content-between">
                        <div class="col-6 py-3"
                            style="max-width: 49%; background-color: white; border-radius: 2px; box-shadow: rgba(0, 0, 0, 0.15) 0px 0px 0px 1px, rgba(0, 0, 0, 0.2) 0px 2px 3px 0px;">
                            <div style="font-size: 19px;">Followers</div>
                            <div class="fCountStyle" style="font-size: 2.6rem" id="followerCount" data-toggle="modal"
                                data-target="#followersModal">
                                {{profile.followerCount}}</div>
                        </div>
                        <div class="col-6 py-3"
                            style="max-width: 49%; background-color: white; border-radius: 2px; box-shadow: rgba(0, 0, 0, 0.15) 0px 0px 0px 1px, rgba(0, 0, 0, 0.2) 0px 2px 3px 0px;">
                            <div style="font-size: 19px;">Following</div>
                            <div class="fCountStyle" style="font-size: 2.6rem" id="followingCount" data-toggle="modal"
                                data-target="#followingModal">
                                {{profile.followingCount}}</div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="d-flex py-3 my-3"
                style="background-color: white; border-radius: 2px; box-shadow: rgba(0, 0, 0, 0.15) 0px 0px 0px 1px, rgba(0, 0, 0, 0.2) 0px 2px 3px 0px;">
                <div class=" col">
                    <span style="font-size: 19px;">Posts</span>

                    <div id="postsDisplay">
                        {% for post in page_obj %}
                        <div class="d-flex py-3 my-3 border border-alert" id="postContainer-{{post.id}}">
                            <div class="col">
                                <div class="row">
                                    <div class="col-1">
                                        <img src="{% static 'network/images/defaultAvatar.png' %}" alt="profile-pic"
                                            style="object-fit: contain; width: 100%; border-radius: 50px;"
                                            class="commentProfilePic">
                                    </div>
                                    <div class="col-11 pl-0 align-self-end">
                                        <span style="font-size: 19px;" id="postUser" style="display: inline-block;">
                                            <a href="{% url 'profile' post.user %}"
                                                class="userProfileLink">{{post.user|capfirst}}</a>
                                        </span>
                                        <div class="dropdown d-inline-flex" style=" float:right">
                                            <button class="btn" type="button" id="dropdownMenuButton"
                                                data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                                <i class="fas fa-chevron-down"></i>
                                            </button>
                                            <div class="dropdown-menu dropdown-menu-right"
                                                aria-labelledby="dropdownMenuButton">
                                                <span class="editButton dropdown-item" data-item="post"
                                                    data-id="post-{{post.id}}"><i
                                                        class="far fa-edit"></i>&nbsp;Edit</span>
                                                <span class="deleteButton dropdown-item" data-id="post-{{post.id}}"
                                                    data-item="post" id="deleteButton-{{post.id}}">&nbsp;<i
                                                        class="fas fa-times"></i>&nbsp;&nbsp;Delete</span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col">
                                        <div class="postContent" id="post-{{post.id}}">{{post.content}}</div>
                                    </div>
                                </div>
                                <div class="numLikes" data-numLikes="{{post.allLikes|length}}"
                                    id="numLikes-{{post.id}}">
                                    {{post.allLikes|length}} likes
                                </div>
                                <div class="row optionRow" id="optionRow-{{post.id}}">
                                    {% if request.user.username in post.allLikes %}
                                    <span class="options likeButton ml-3" data-id="post-{{post.id}}"
                                        style="color: #007bff" data-item="post">
                                        <i class="far fa-thumbs-up"></i> Like</span>
                                    {% else %}
                                    <span class="options likeButton ml-3" data-id="post-{{post.id}}" data-item="post">
                                        <i class="far fa-thumbs-up"></i> Like</span>
                                    {% endif %}
                                    <span class="options" data-id="post-{{post.id}}"><i class="far fa-comment"></i>
                                        Comment</span>
                                    <span class="options" data-id="post-{{post.id}}"><i class="fas fa-share"></i>
                                        Share</span>
                                </div>
                                <!-- Comments for each post -->
                                <div class="commentsDisplay" id="commentsDisplay-{{post.id}}">
                                    {% for comment in post.comments %}
                                    <div class="d-flex py-3 my-3 mx-3 commentContainer"
                                        id="commentContainer-{{comment.id}}">
                                        <div class="col">
                                            <div class="row">
                                                <div class="col-1">
                                                    <img src="{% static 'network/images/defaultAvatar.png' %}"
                                                        alt="profile-pic"
                                                        style="object-fit: contain; width: 80%; border-radius: 50px;"
                                                        class="commentProfilePic">
                                                </div>
                                                <div class="col-11 pl-0 align-self-end ml-n2">
                                                    <span style="font-size: 19px;" id="postUser"
                                                        style="display: inline-block;">
                                                        <a href="{% url 'profile' comment.user.username %}"
                                                            class="userProfileLink">{{comment.user.username|capfirst}}</a>
                                                    </span>
                                                    {% if comment.user == request.user %}
                                                    <div class="dropdown d-inline-flex" style=" float:right">
                                                        <button class="btn" type="button" id="dropdownMenuButton"
                                                            data-toggle="dropdown" aria-haspopup="true"
                                                            aria-expanded="false">
                                                            <i class="fas fa-ellipsis-h"></i>
                                                        </button>
                                                        <div class="dropdown-menu dropdown-menu-right"
                                                            aria-labelledby="dropdownMenuButton">
                                                            <span class="editButton dropdown-item" data-item="comment"
                                                                data-id="comment-{{comment.id}}"><i
                                                                    class="far fa-edit"></i>&nbsp;Edit</span>
                                                            <span class="deleteButton dropdown-item"
                                                                data-id="comment-{{comment.id}}" data-item="comment"
                                                                id="deleteButton-{{comment.id}}"
                                                                data-postID="post">&nbsp;<i
                                                                    class="fas fa-times"></i>&nbsp;&nbsp;Delete</span>
                                                        </div>
                                                    </div>
                                                    {% endif %}
                                                </div>
                                            </div>
                                            <div class="row">
                                                <div class="col">
                                                    <div class="postContent" id="comment-{{comment.id}}">
                                                        {{comment.comment}}
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="numLikes" data-numLikes="{{comment.allLikes|length}}"
                                                data-id="numLikes-{{comment.id}}" data-toggle="modal"
                                                data-target="#postLikesModal" id="commentNumLikes-{{comment.id}}">
                                                {{comment.allLikes|length}}
                                                likes</div>
                                            <div class="row optionRow" id="optionRow-{{comment.id}}">
                                                {% if request.user.username in comment.allLikes %}
                                                <span class="options likeButton ml-3" data-id="comment-{{comment.id}}"
                                                    style="color: #007bff" data-item="comment">
                                                    <i class="far fa-thumbs-up"></i> Like</span>
                                                {% else %}
                                                <span class="options likeButton ml-3" data-id="comment-{{comment.id}}"
                                                    data-item="comment">
                                                    <i class="far fa-thumbs-up"></i> Like</span>
                                                {% endif %}
                                                <span class="options" data-id="comment-{{comment.id}}"><i
                                                        class="far fa-comment"></i>
                                                    Reply</span>
                                            </div>
                                        </div>
                                    </div>
                                    {% endfor %}
                                </div>
                                <div class="row">
                                    <div class="col my-3">
                                        <input class="comment" data-postID="{{post.id}}" type="text"
                                            placeholder="Write a comment..."
                                            style="width: 100%; padding: 7px 15px; border-radius: 50px; border: 1px solid lightgrey">
                                    </div>
                                </div>
                            </div>
                        </div>
                        {% endfor %}
                    </div>

                </div>

            </div>
            <nav aria-label="page navigation">
                <ul class="pagination justify-content-center">
                    {% if page_obj.has_previous %}
                    <li class="page-item"><a class="page-link" href="?page=1">&laquo;</a></li>
                    <li class="page-item"><a class="page-link"
                            href="?page={{ page_obj.previous_page_number }}">Previous</a></li>
                    {% endif %}
                    {% for page_number in page_obj.paginator.page_range %}
                    <li class="page-item"><a class="page-link" href="?page={{page_number}}">{{page_number}}</a></li>
                    {% endfor %}
                    {% if page_obj.has_next %}
                    <li class="page-item"><a class="page-link" href="?page={{ page_obj.next_page_number }}">Next</a>
                    <li class="page-item"><a class="page-link"
                            href="?page={{ page_obj.paginator.num_pages }}">&raquo;</a></li>
                    {% endif %}

                    </li>
                </ul>
            </nav>
        </div>

        <div class="col-md-3">
            <div class="row p-2 mb-4" id="pYouMayKnowTab">
                <div class="col">
                    <div id="pYouMayKnow">People You May Know</div>
                    {% for profile in pYouMayKnow %}
                    <div class="suggestedUsers mb-2">
                        <div class="row">
                            <div class="col-3">
                                <img src="{% static 'network/images/defaultAvatar.png' %}" alt="profile-pic"
                                    style="object-fit: contain; width: 53px; border-radius: 50px; margin-right: 10px"
                                    class="commentProfilePic">
                            </div>
                            <div class="col-9 pr-0">
                                <div><a href="{% url 'profile' profile.username %}"> {{profile.first_name}}
                                        {{profile.last_name}} </a></div>
                                <div style="font-size: 0.9rem; margin-top: -1px; color: darkgrey">{{profile.username}}
                                </div>
                                <hr>
                            </div>
                        </div>
                    </div>
                    {% endfor %}
                </div>
            </div>

            <div class="row p-2 mb-4" id="pAlsoViewedTab">
                <div class="col">
                    <div id="pAlsoViewed">People Also Viewed</div>
                    {% for profile in pAlsoViewed %}
                    <div class="suggestedUsers mb-2">
                        <div class="row">
                            <div class="col-3">
                                <img src="{% static 'network/images/defaultAvatar.png' %}" alt="profile-pic"
                                    style="object-fit: contain; width: 53px; border-radius: 50px; margin-right: 10px"
                                    class="commentProfilePic">
                            </div>
                            <div class="col-9 pr-0">
                                <div><a href="{% url 'profile' profile.username %}"> {{profile.first_name}}
                                        {{profile.last_name}} </a></div>
                                <div style="font-size: 0.9rem; margin-top: -1px; color: darkgrey">{{profile.username}}
                                </div>
                                <hr>
                            </div>
                        </div>
                    </div>
                    {% endfor %}
                </div>
            </div>
        </div>

    </div>
</div>

<script>
    var loadFile = function (event) {
            var image = document.getElementById('output');
            image.src = URL.createObjectURL(event.target.files[0]);
            document.querySelector('#imgLookMessage').style.display = 'block';
        };

    function discard() {
        var image = document.getElementById('output');
        image.src = "";
        document.querySelector('#imgLookMessage').style.display = 'none';
    }
</script>
{% endblock %}