body {
    font-family: "Roboto", Arial, Helvetica, sans-serif;
    background-color: #f5f5f5;
}

.postContent {
    margin: 15px 0px;
}

#content {
    padding: 5px;
    margin: 10px 0;
    width: 100%;
    border-color: lightgrey;
}

.dropdown-item:hover {
    cursor: pointer;
}

.options {
    font-size: 1rem;
    padding: 5px 10px;
    margin: 0;
}

.options:hover, .options-comment:hover {
    cursor: pointer;
    background-color: rgba(44, 44, 44, 0.08);
    border-radius: 3px;
}

.options-comment {
    font-size: 0.775rem;
    padding: 3px 6px;
    margin : 5px;
}

.postOptionRow {
    align-items: center;
    border-top: 1px solid lightgrey;
    border-bottom: 1px solid lightgrey;
    padding: 5px 0;
    margin: 0;
}

.commentOptionRow {
    margin-left: 5px;
}

.metaInfoRow {
    padding: 5px 0;
    margin: 0 !important;
}

.comment {
    background-color: #f0f2f5;
    width: 100%; 
    padding: 7px 15px; 
    border-radius: 50px;
    border: none !important;
}
.comment:focus {
    outline: none;
    /* border-color: #227bff !important; */
}

.fCountStyle {
    color: #007bff;
    display: inline-block;
}

.fCountStyle:hover {
    cursor: pointer;
    color: #0056B3;
}

.numLikes, .numComments {
    display: inline-flex;
    color: #646464;
}

.numLikes:hover, .numComments:hover {
    cursor: pointer;
    text-decoration: underline;
}

.numComments {
    margin-left : auto;
}

.commentContainer {
    background-color: #F3F6F8;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
    border-bottom-left-radius: 20px;
    /* box-shadow: rgba(0, 0, 0, 0.15) 0px 0px 0px 1px, rgba(0, 0, 0, 0.2) 0px 2px 3px 0px; */
}

.postContainer {
    background-color: white;
    border-radius: 2px;
    /* box-shadow:rgba(0, 0, 0, 0.2) 0px 2px 3px 0px; */
    box-shadow: rgba(0, 0, 0, 0.15) 0px 0px 0px 1px, rgba(0, 0, 0, 0.2) 0px 2px 3px 0px;
    
}

.commentsDisplay {
    display: none;
}

.register-form {
    padding: 30px 0px 0;
    background-color: white; 
    margin: 0 auto;
    border-radius: 10px;
    text-align: center;
    overflow: hidden;
    height: 65.9%;
    transition: height 0.4s ease;
}

#register-form {
    display: flex;
    width: 200%;
    transition: margin-left 0.4s ease-in-out;
}

#register-form .form-page {
    width: 100%;
}

#register-form .form-group {
    text-align: left;
    font-size: 0.9rem;
    margin: 15px auto;
    width: 80%; 
}

#register-form  .form-row .form-group {
    text-align: left;
    font-size: 0.9 rem;
    margin: 0 auto;
}

#register-form  .form-row {
    width: 80%;
    margin: 20px auto 0;
}

#register-form .form-group input:focus {
    outline: none;
    box-shadow: none;
    border-width: 2px;
    
}

#register-form .btn {
    margin: 0px auto 30px;
    width: 40%;
}

#register-form #nextButton{
    width: 80%;
}

.register-footer {
    padding: 25px 0;
    border-top: 1px solid #dddddd;
    background-color: #f5f5f5;
    border-bottom-right-radius: 10px;
    border-bottom-left-radius: 10px;
    margin-top: -15%;
    transition: 0.4s ease
}

.following, .follower {
    
    padding: 5px 0;
}

#pYouMayKnowTab, #pAlsoViewedTab {
    background-color : white;
    box-shadow: rgba(0, 0, 0, 0.15) 0px 0px 0px 1px, rgba(0, 0, 0, 0.2) 0px 2px 3px 0px;
    border-radius: 2px;
}

#pYouMayKnow, #pAlsoViewed {
    font-size: 20px;
    margin: 20px 0 15px;
}

.btn {
    border-radius: 2px;
    padding-top: 4px;
    padding-bottom: 4px;
}

#viewProfileButton {
    font-size: 0.9rem;
    border-radius: 2px;
    width: 100%;
    padding: 5px;
    /* background-color: #0056B3; */
}

#viewProfileTab {
    position: sticky;
    top: 76px;
}

.nav-item {
    font-weight: 300;
}

#descriptionButton:focus, #uploadImageButton:focus {
    box-shadow: none;
}

#uploadImageModal {
    transition: none !important;
}

#imgLookMessage {
    display: none;
    margin: 10px 0;
}

#profilePicContainer #profilePic {
    margin:-90px 0 5px; 
    box-shadow: rgba(0, 0, 0, 0.15) 0px 0px 0px 1px, rgba(0, 0, 0, 0.2) 0px 2px 3px 0px; 
    border: 5px solid white; 
    width: 150px;  
    height: 150px; 
    object-fit: cover;
    border-radius: 50%;
}

#smallProfilePic {
    width: 70px; 
    border-radius: 50%; 
    height: 70px;
    margin-top: -35px; 
    border: 2px solid white; 
    margin-bottom: 5px; 
    box-shadow: rgba(0, 0, 0, 0.15) 0px 0px 0px 1px, rgba(0, 0, 0, 0.2) 0px 2px 3px 0px;
    object-fit: cover;
}

/* .postProfilePicConatiner {
    position: relative;
    padding-bottom: 100%; 
    height: 0;
    border-radius: 50%;
    overflow: hidden;
}

.postProfilePicConatiner .postProfilePic {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
} */

.postProfilePic {
    width: 2.5rem;
    height: 2.5rem;
    border-radius: 50%;
    object-fit: cover;
}

.commentProfilePic {
    width: 2.5rem;
    height: 2.5rem;
    border-radius: 50%;
    object-fit: cover;
}

.postProfilePicSmall{
    width: 2.125rem;
    height: 2.125rem;
    object-fit: cover;
    border-radius: 50%;
}

.commentProfilePicSmall{
    width: 2rem;
    height: 2rem;
    object-fit: cover;
    border-radius: 50%;
}

.pAlsoViewedPic, .pYouMayKnowPic {
    object-fit: cover; 
    width: 3.125rem; 
    height: 3.125rem; 
    border-radius: 50%; 
    margin-right: 10px
}

.modalProfilePic {
    width: 2.5rem;
    height: 2.5rem;
    object-fit: cover;
    border-radius: 50%;
    margin-right: 10px;
}

/* .userProfileLink {
    vertical-align: -webkit-baseline-middle;
} */

.fa-chevron-down {
    vertical-align: middle;
}

#sharePostText {
    width: 100%; 
    border: none; 
    padding: 15px; 
    margin: auto;
}

#sharePostText:focus {
    outline: none;
}